* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 24px);
}
a {
  text-decoration: none;
}
.btn {
  color: #000958;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
  width: 117px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #000958;
  background-color: #fffaf5;
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* header */
.header {
  min-height: 100vh;
  padding-top: 32px;
  background: #fffaf5;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
  column-gap: 36px;
}
.navbar__link {
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
}
.navbar__link--action,
.navbar__link:hover {
  color: #000958;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}
